name: Unit tests
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x, 16.x, 17.x] # Test against each node version we support

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: |
        for folder in '.' 'packages/privy-js'; do
          pushd "${folder}"
          npm ci # install dependencies
          npm run prettier # ensure code is formatted
          npm run build # ensure it can build
          npm test # ensure tests pass
          popd
        done
