name: Unit tests
on: [push]
jobs:
  # Main job for all tests and packages
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x] # Test against LTS versions

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Update npm
      run: npm install --global npm@8
    - run: npm ci # install dependencies
    - run: npm run prettier --workspaces # ensure code is formatted
    - run: npm run build --workspaces # ensure it can build
    - run: npm test --workspaces # ensure tests pass

  # Job specifically to test webcrypto against older node crypto for parity
  webcrypto:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x] # Test recent version that has webcrypto implemented

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Update npm
      run: npm install --global npm@8
    - run: npm ci # install dependencies
    - run: npm run test-webcrypto --workspace=packages/crypto # ensure webcrypto tests pass
